@using Entity
@model Education
@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    List<Lesson> lessons = Query.LessonList();
    List<Education> educations = Query.EducationList();
    int count = 1;
}

<div id="pageContentTr">
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">red-Kit C</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Ortaokul 24 Saat </span>
        </div>
    </div><br />

    <div class="row">
        @foreach (var item in lessons)
        {
            <div class="col-md-3">
                <div class="col-sm-12">
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head kt-portlet__head--noborder">
                            <span class="kt-badge kt-badge--brand kt-badge--md kt-badge--rounded">@count</span>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget kt-widget--user-profile-2" style="align-items:center;">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <img class="" src="@item.Education.ImagePath" style="width:100%; padding-bottom:10px" alt="image">
                                    </div>
                                </div>
                                <div class="kt-widget__body" style="text-align: center;">
                                    <div class="kt-widget__contact" style="">
                                        <h5 style="color:#616682;">@item.Name</h5>
                                    </div><h6>@item.Code</h6>
                                </div>
                                <div class="embed-responsive kt-widget__footer">
                                    <a onclick="GetLesson(@item.ID)" id="265" class="btn btn-label-danger btn-lg btn-upper" style="">Derse Git</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            count++;
        }
    </div>
</div>