@using Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    List<User> users = Query.UserList();
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><b> ÖĞRENCİLER </b></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display" style="width:100%" id="teacherLessonTable">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Sınıf</th>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Email</th>
                                    <th>Şifre</th>
                                    <th>Telefon Numarası</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (User user in users.Where(x=>x.Role==Role.Student))
                                {
                                <tr>
                                    @*<td>@user.Classroom.Name</td>*@
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Password</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>
                                        <a href="/Teacher/Student/Update/@user.ID">
                                            <input type="submit" value="Güncelle" class="btn btn-primary" />
                                        </a>

                                        <a href="/Teacher/Student/Delete/@user.ID">
                                            <input type="submit" value="SİL" class="btn btn-danger" />
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>