@using Entity
@model Student
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/STeacher/Views/Shared/_STeacherLayout.cshtml";
    List<Classroom> classrooms = Query.ClassroomList();
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">Öğrenci Güncelle</h3>
                    </div>
                    <div class="card-body">
                        <form action="/STeacher/Student/Update" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="ID">User ID</label>
                                <input name="ID" readonly value="@Model.ID" class="form-control disabled" />
                            </div>
                            <div class="form-group">
                                <label for="UserName">Kullanıcı Adı</label>
                                <input name="UserName" value="@Model.UserName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="FirstName">Ad</label>
                                <input name="FirstName" value="@Model.FirstName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="LastName">Soyad</label>
                                <input name="LastName" value="@Model.LastName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Email">E-Mail</label>
                                <input name="Email" value="@Model.Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Password">Şifre</label>
                                <input name="Password" value="@Model.Password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Grade">Sınıf</label>
                                <select name="classrooms" size="5" class="form-control" multiple style="height:auto;">
                                    @foreach (Classroom cat in classrooms)
                                    {
                                        if (Model.Classrooms.Contains(cat))
                                        {
                                            <option style="color:red;" value="@cat.ID">@cat.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@cat.ID">@cat.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <input type="submit" value="Güncelle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

